body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


fieldset{
  border: none;
  width: 100%
}

.form-group{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ReactModal__Content{
  background: transparent !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}