<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Bitte Tippername und Spieltipp eingeben </h2>


<form role="form"
      name="variablesForm">

<div class="row">

  <div class="col-xs-6">
    <h3>Persönliche Daten</h3>

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
    <!--
    camunda-ID der  Variable  über  cam-variable-name
    camunda-Type der Varibale über  cam-variable-type; Datentypen immer Anfangsbuchstaben groß
        -->
      <input type="text" 
             cam-variable-name="name"
             readonly="true"  
             class="form-control" />

    </div>
  </div>
  
   	

  </div>
		
	<div class="col-xs-6">
    <h3>Tippdaten</h3>
	
	
	<div class="control-group">
    <label class="control-label">Tipp</label>
    <div class="controls">
    <!--
    camunda-ID der  Variable  über  cam-variable-name
    camunda-Type der Varibale über  cam-variable-type; Datentypen immer Anfangsbuchstaben groß
        -->
      <input type="text" 
             cam-variable-name="tipp" 
			 readonly="true"
             class="form-control" />

		</div>
	</div>
	

  </div>
    
    
    
		
  </div>
  
  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>