<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>UPLOAD Spieleliste</h2>


<form role="form"
      name="variablesForm">

<div class="row">

  <div class="col-xs-6">
  
   	<!-- Control zum Upload einer Datei -->
    
  <div class="control-group">
    <label class="control-label">PDF-Liste mit einer Spieleübersicht hochladen (max. 1 Datei, max. 2 MB) </label>
    <div class="controls">
        
 <input type="file"
       cam-variable-name="SPIELELISTE_DOC"
       cam-variable-type="File"
       cam-max-filesize="2000000" /> 
       
       </div>
    </div>
  </div>
  </div>
  
  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>