<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Spiel auswählen</h2>

<form class="form-horizontal">
  <div class="control-group">
  
    <label class="control-label">Spiele</label>
    <div class="controls">
    
        <select cam-variable-name="spiel"
        cam-variable-type="String"
        cam-choices="ALLE_SPIELE">
</select>
 

  
    </div>
  </div>
   

  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>