<meta http-equiv="content-type" content="text/html; charset=utf-8">

<form role="form"
      name="variablesForm">

    <div class="row">

        <div class="col-xs-6">
            <h3>Persönliche Daten</h3>

            <div class="control-group">

                <label class="control-label">Vorname</label>
                <div class="controls">
                    <input type="text"
                           cam-variable-name="vorname"
                           cam-variable-type="String"
                           required
                           class="form-control"/>
                </div>

                <label class="control-label">E-Mail</label>
                <div class="controls">
                    <input type="text"
                           cam-variable-name="mail"
                           cam-variable-type="String"
                           required
                           class="form-control"/>
                </div>

                <label class="control-label">Nachname</label>
                <div>
                    <input type="text"
                           cam-variable-name="nachname"
                           cam-variable-type="String"
                           required
                           class="form-control"/>
                </div>

                <label class="control-label">Geburtsdatum</label>
                <div>
                    <input type="text"
                           cam-variable-name="birthdate"
                           cam-variable-type="Date"
                           class="form-control"
                           uib-datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
                           is-open="dateFieldOpened"/>
                </div>


                <label class="control-label">Nationalität</label>
                <div>
                    <select cam-variable-name="nationality"
                            cam-variable-type="String">
                        <option>Deutsch</option>
                        <option>Englisch</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-xs-6">
            <h3>Weitere Informationen</h3>


            <div class="control-group">
                <label class="control-label">Versicherung</label>
                <div class="controls">
                    <input type="text"
                           cam-variable-name="insurance"
                           cam-variable-type="String"
                           required
                           class="form-control"/>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Abschluss</label>
                <div class="controls">
                    <select cam-variable-name="degree"
                            cam-variable-type="String">
                        <option>Hauptschule</option>
                        <option>Realschule</option>
                    </select>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">HZB</label>
                <div class="controls">
                    <input type="file"
                           cam-variable-name="hzb_file"
                           cam-variable-type="File"
                           cam-max-filesize="10000000"/>

                </div>
            </div>


        </div>


    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>