<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Bitte NC berechnen und eingeben</h2>


<form role="form"
      name="variablesForm">

    <div class="row">

   <h3>Weitere Informationen</h3>

            <div class="control-group">
                <label class="control-label">HZB</label>
                <div class="controls">
                    <input type="text"
                    readonly=true
                    disabled=true
                           cam-variable-name="hzb_file"
                           cam-variable-type="String"
                           cam-max-filesize="10000000"/>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">NC</label>
                <div class="controls">
                    <input type="text"
                        cam-variable-name="nc"
                        cam-variable-type="Double" />
                </div>
            </div>

    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>