<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Bitte NC berechnen und eingeben</h2>


<form role="form"
      name="variablesForm">

    <div class="row">

   <h3>Bitte den ermittelten NC eintragen</h3>

            <div class="control-group">
                <label class="control-label">NC des Studiengangs</label>
                <div class="controls">
                    <input type="text"
                        cam-variable-name="nc_ermittelt"
                        cam-variable-type="Double" />
                </div>
            </div>

    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>