<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Zahlungseingang prüfen </h2>


<form role="form"
      name="variablesForm">

    <div class="row">

        <div class="col-xs-6">

            <div class="control-group">
                <label class="control-label">Zahlung eingegangen</label>
                <div class="controls">
                    <input type="checkbox"
                        cam-variable-name="payment_received"
                        cam-variable-type="Boolean" />

                </div>
            </div>


        </div>


    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>