<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Zulassung erfüllt!</h2>


<form role="form"
      name="variablesForm">

    <div class="row">

        <div class="col-xs-6">
            <h3>Zulassung erfüllt!</h3>
        </div>

    </div>

    <script cam-script type="text/form-script">
  // custom JavaScript goes here

    </script>
</form>