<div>
    <div>
        NGINX
        <a href="/"></a>
    </div>
    <div>
        Tomcat
        <a href="/manager/html"></a>
    </div>
    <div>
        Postgres
        <a href="/manager/html"></a>
    </div>
    <div>
        E-Mail
        <a href="/manager/html"></a>
    </div>
    <div>
        Visual Studio
        <a href="/manager/html"></a>
    </div>
</div>
