<meta http-equiv="content-type" content="text/html; charset=utf-8">


<h2>Experten Einschätzung vor dem Spiel</h2>


<form role="form"
      name="variablesForm">

<div class="row">

  <div class="col-xs-6">
  
   	<!-- Textarea für Expertenmeinung -->
    <div class="form-group">
      <label for="inputAddress">Meinung</label>
      <div class="controls">
        <textarea class="form-control"
                  cam-variable-name="meinung"
                  cam-variable-type="String"
                  rows="4"></textarea>
      </div>
    </div>

    <div class="control-group">
				<hr>
				<label class="control-label" >Soll die Einschätzung veröffentlicht werden?</label>
    <div class="controls">
      <input type="checkbox"
             cam-variable-name="send"
             cam-variable-type="Boolean"
             class="form-control" />
    </div>
  </div>

  </div>
  
		
  </div>
  
  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>